.App {
  text-align: center;
  background-image: url('../public/background.jpg');
}

.form {
  border: 2px solid black;
  width: 50%;
  margin-left: 25%;
}

.form input {
  margin-bottom: 20px;
}

.Collapsible {
  border: 2px solid black;
  cursor: pointer;
}



